styles.css
h1{
    background: -colour;border
    color: white;
    text-align: center;
    padding: 40px
    padding-bottom 50px

    {/h1}
    <style>


    image{
      width: auto;
    }

  div{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
body{
  border: 2px;
}
h1{
    color: whitesmoke
    background-color: ;
    text-align: center;
  /h}

  h2{
    color: whitesmoke
    background-color: ;
    border:
  }
  </style>